.areas {
  padding-top: 50px;
  padding-bottom: 50px;
  @include container;

  &__heading {
    color: $light-green;
    font-size: 24px;
    text-align: center;
  }

  &__subheading {
    margin-top: 20px;
    color: $green;
    font-size: 36px;
    text-align: center;
  }

  &__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 50px;
  }

  &__item {
    margin-bottom: 15px;
    width: 50%;
    color: $green;
    font-weight: 600;
    font-size: 24px;
    text-align: center;

    @include view(mobile) {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      color: $light-green;
    }
  }
}
