/* Kontener banera ustawiony na pełną szerokość */
.banner {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

/* Slider ustawiony na pełną szerokość i wysokość viewportu */
.banner .swiper {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Upewnij się, że wrapper slidera też zajmuje 100% szerokości */
.banner .swiper-wrapper {
  margin-top: 120px;
  width: 100%;
}

/* Każdy slajd zajmuje 100% szerokości */
.banner .swiper-slide {
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
}

/* Opcjonalnie – ustawienia tekstu */
.banner__text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0 15px;
  width: 100%;
  max-width: 600px;
  color: #fff;
  text-align: center;
}

/* Obrazy w slajdach */
.banner__img-wrapper img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.banner__subheading {
  font-size: 100px;
  letter-spacing: 20px;
  text-transform: uppercase;
}

/* Nawigacja slidera */
.swiper-pagination {
  bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.banner__cta {
  display: inline-block;
  transition: 0.1s ease-in-out;
  margin-top: 40px;
  background-color: $black;
  padding: 10px 20px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border: 2px solid $black;
    background-color: transparent;
  }
}
