.contact {
  padding: 200px 0;

  @include view(mobile) {
    padding: 100px 0;
  }

  @include container;

  &__heading {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    color: $green;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    @include view(mobile) {
      font-size: 24px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;

    @include view(tablet) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__map-wrapper {
    @include view(mobile) {
      width: 100%;
    }
  }

  &__map {
    margin-top: 20px;
    border: none;
    width: 100%;
    height: 450px;

    @include view(small-desktop) {
      width: 500px;
      height: 500px;
    }

    @include view(tablet) {
      width: 100%;
      height: 500px;
    }

    @include view(mobile) {
      height: 350px;
    }
  }

  &__text-wrapper {
    width: 40%;

    @include view(tablet) {
      width: 80%;
    }
    @include view(mobile) {
      width: 90%;
    }
  }

  &__text {
    margin-bottom: 50px;
  }

  &__subheading {
    margin-bottom: 10px;

    color: $green;
    font-size: 30px;
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__link-icon {
    margin-right: 10px;
    width: 25px;
    object-fit: contain;
  }

  &__link {
    font-size: 15px;
  }

  & a {
    color: $black;

    text-decoration: none;
  }
}
