.portfolio {
  z-index: -1;
  background-color: $dark-green;
  padding-top: 150px;
  padding-bottom: 100px;

  &__heading {
    margin-bottom: 20px;
    color: $light-green;
    font-size: 24px;
  }

  &__subheading {
    color: $white;
    font-size: 36px;
  }

  &__wrapper {
    @include container;
  }

  &__text-wrapper {
    display: flex;
    margin-bottom: 200px;

    @include view(mobile) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }
  }

  &__text-tile {
    width: 50%;

    @include view(mobile) {
      width: 100%;
    }
  }

  &__text {
    margin-left: 40px;
    color: $white;

    @include view(mobile) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__gallery {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    overflow: hidden;

    @include view(mobile) {
      height: 400px;
    }
  }

  &__slider {
    width: 100%;
  }

  &__slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  &__slide {
    height: 100%;
    object-fit: cover;
  }

  &__prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    font-size: 20px;
  }

  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    font-size: 20px;
  }

  &__prev {
    left: 10px;
  }
  &__next {
    right: 10px;
  }
}
